.titulo{
    font-family: 'Source Sans Pro',sans-serif;font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#mensaje{
    text-align: left;
    min-width: 300px;
    max-width: 400px;
    position:fixed;
    top: 35px;
    right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 5px;
    background-color: #5e9c5f !important;    
    z-index: 150;
}

#error{
    text-align: left;
    min-width: 300px;
    max-width: 400px;
    position:fixed;
    top: 35px;
    right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 5px;
    background-color: red !important;    
    z-index: 150;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .4 ) 
        url('../default/image/loading.gif') 
        50% 50% 
        no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.sidebar-menu ul ul, .sidebar-menu ul ul ul {
    display: none;
    width: 100%;
}

