/* ThemeDefaultMenu Style Sheet */

#myMenuID {
  margin-top: 3px;
  padding-left: 5px;
  float: left;
  width: 300px;
}

.ThemeDefaultMenu, .ThemeDefaultSubMenuTable {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	padding:	0;
	white-space:	nowrap;
	cursor:		default;
}

.ThemeDefaultSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0;
	padding:	1px;
  background-color: #FFFFFF;
	overflow:	visible;
	border:		1px solid #8C867B;

	filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4);
}
 
.ThemeDefaultSubMenuTable
{
	overflow:	visible;
}

.ThemeDefaultMainItem,.ThemeDefaultMainItemHover,.ThemeDefaultMainItemActive,
.ThemeDefaultMenuItem,.ThemeDefaultMenuItemHover,.ThemeDefaultMenuItemActive
{
	border:		0;
	cursor:		default;
	white-space:	nowrap;
        cursor:		pointer;
}

.ThemeDefaultMainItem
{
	/*background-color:	#EFEBDE;*/
}

.ThemeDefaultMainItemHover,.ThemeDefaultMainItemActive
{
	background-color:	#EBF1FC;
	
}

.ThemeDefaultMenuItem
{
	background-color:	#FFF; 
}

.ThemeDefaultMenuItemHover,.ThemeDefaultMenuItemActive
{
	background-color:	#EBF1FC;
}


/* horizontal main menu */

.ThemeDefaultMainItem
{
	padding: 4px 1px 4px 1px;
	border: 0;
}

td.ThemeDefaultMainItemHover,td.ThemeDefaultMainItemActive
{
	padding:	0px;
	border-left:		1px solid #30559C;
	border-right:		1px solid #30559C;
}

.ThemeDefaultMainFolderLeft,.ThemeDefaultMainItemLeft,
.ThemeDefaultMainFolderText,.ThemeDefaultMainItemText,
.ThemeDefaultMainFolderRight,.ThemeDefaultMainItemRight
{
	background-color:	inherit;
}

/* vertical main menu sub components */

td.ThemeDefaultMainFolderLeft,td.ThemeDefaultMainItemLeft
{
	padding-top:	2px;
	padding-bottom:	1px; _padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	2px;

	border-top:	1px solid #30559C;
	border-bottom:	1px solid #30559C;
	border-left:	1px solid #30559C;

	background-color:	inherit;
}

td.ThemeDefaultMainFolderText,td.ThemeDefaultMainItemText
{
	padding-top:	2px;
	padding-bottom:	1px; _padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #30559C;
	border-bottom:	1px solid #30559C;

	background-color:	inherit;
	white-space:	nowrap;
}

td.ThemeDefaultMainFolderRight,td.ThemeDefaultMainItemRight
{
	padding-top:	2px;
	padding-bottom:	1px; _padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:	1px solid #30559C;
	border-bottom:	1px solid #30559C;
	border-right:	1px solid #30559C;

	background-color:	inherit;
}

tr.ThemeDefaultMainItem td.ThemeDefaultMainFolderLeft,
tr.ThemeDefaultMainItem td.ThemeDefaultMainItemLeft
{
	padding-top:	2px;
	padding-bottom:	2px; _padding-bottom:	3px;
	padding-left:	1px;
	padding-right:	2px;

	white-space:	nowrap;

	border:		0;
	background-color:	inherit;
}

tr.ThemeDefaultMainItem td.ThemeDefaultMainFolderText,
tr.ThemeDefaultMainItem td.ThemeDefaultMainItemText
{
	padding-top:	3px;
	padding-bottom:	2px; _padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;

	border:		0;
	background-color:	inherit;
}

tr.ThemeDefaultMainItem td.ThemeDefaultMainItemRight,
tr.ThemeDefaultMainItem td.ThemeDefaultMainFolderRight
{
	padding-top:	3px;
	padding-bottom:	2px; _padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* sub menu sub components */

.ThemeDefaultMenuFolderLeft,.ThemeDefaultMenuItemLeft
{
	padding-top:	2px;
	padding-bottom:	1px; _padding-bottom:	2px;
	padding-left:	1px;
	padding-right:	3px;

	border-top:	1px solid #30559C;
	border-bottom:	1px solid #30559C;
	border-left:	1px solid #30559C;

	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeDefaultMenuFolderText,.ThemeDefaultMenuItemText
{
	padding-top:	2px;
	padding-bottom:	1px; _padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #30559C;
	border-bottom:	1px solid #30559C;

	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeDefaultMenuFolderRight,.ThemeDefaultMenuItemRight
{
	padding-top:	2px;
	padding-bottom:	1px; _padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:	1px solid #30559C;
	border-bottom:	1px solid #30559C;
	border-right:	1px solid #30559C;

	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeDefaultMenuItem .ThemeDefaultMenuFolderLeft,
.ThemeDefaultMenuItem .ThemeDefaultMenuItemLeft
{
	padding-top:	3px;
	padding-bottom:	2px; _padding-bottom:	3px;
	padding-left:	2px;
	padding-right:	3px;

	white-space:	nowrap;

	border:		0;
	background-color:	#DDE1E6;
}

.ThemeDefaultMenuItem .ThemeDefaultMenuFolderText,
.ThemeDefaultMenuItem .ThemeDefaultMenuItemText
{
	padding-top:	3px;
	padding-bottom:	2px; _padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;

	border:		0;
	background-color:	inherit;
}

.ThemeDefaultMenuItem .ThemeDefaultMenuFolderRight,
.ThemeDefaultMenuItem .ThemeDefaultMenuItemRight
{
	padding-top:	3px;
	padding-bottom:	2px; _padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* menu splits */

.ThemeDefaultMenuSplit
{
	margin:		2px;
	height:		1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #C6C3BD;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeDefaultMenuItem img.seq1
{
	display:	inline;
}

.ThemeDefaultMenuItemHover seq2,
.ThemeDefaultMenuItemActive seq2
{
	display:	inline;
}

.ThemeDefaultMenuItem .seq2,
.ThemeDefaultMenuItemHover .seq1,
.ThemeDefaultMenuItemActive .seq1
{
	display:	none;
}