
<?php if (@$listar) { ?>
<div  onclick="location = '<?php echo $list; ?>'"><img style="cursor: pointer" src="template/default/image/img/iconos-07.png" class="first" alt="<?php echo $button_list; ?>" title="<?php echo $button_list; ?>"></div>
<?php } ?> 

<?php if (@$insert) { ?>
<div class="enabled" onclick="location = '<?php echo $insert; ?>'"><img style="cursor: pointer" src="template/default/image/img/iconos-16.png" class="first" alt="<?php echo $button_insert; ?>" title="<?php echo $button_insert; ?>"></div>
<?php } else { ?> 
<!--<div class="disabled"><img style="cursor: pointer" src="template/default/image/img/light-blue_icons/iconos-18.png" alt="<?php echo $button_insert; ?>" title="<?php echo $button_insert; ?>" class="first"></div>-->
<?php } ?>

<?php if (@$exportPdf) { ?>            
<div class="enabled"><a href="<?php echo $exportPdf; ?>"><img style="cursor: pointer" src="template/default/image/img/iconos-10.png" class="first" alt="<?php echo $button_exportarpdf; ?>" title="<?php echo $button_exportarpdf; ?>"></a></div>
<?php }  ?>

<?php if (@$exportExcel) { ?>
<div class="enabled"><a onclick="generarInforme()" href="<?php echo $exportExcel; ?>"><img src="template/default/image/img/iconos-08.png" alt="<?php echo $button_exportarexcel; ?>" title="<?php echo $button_exportarexcel; ?>" class="png"/></a></div>
<?php } ?>