
<tr id="<?php echo $nombre_fila; ?>" class="even" style="height: 25px;padding: 6px 12px;font-size: 14px;">
    <input type="hidden" name="numero_<?php echo $cargo_id; ?>" value="<?php echo $cargo_id; ?>" >
    <input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][compra]" value="<?php echo $cargo_compra; ?>"/>

    <td class="col-xs-1"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][repuesto]" value="<?php echo $cargo_repuesto; ?>"/><?php echo $cargo_repuesto; ?></td>
    <td class="col-xs-3"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][descripcion]" value="<?php echo $cargo_descripcion; ?>"/><?php echo $cargo_descripcion; ?></td>

    <td class="col-xs-2"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][nroparte]" value="<?php echo $cargo_nroparte; ?>"/><?php echo $cargo_nroparte; ?></td>
    <td class="col-xs-1"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][cantidad]" value="<?php echo $cargo_cantidad; ?>"/><?php echo $cargo_cantidad; ?></td>
    <td class="col-xs-1"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][preciocompra]" value="<?php echo $cargo_preciocompra; ?>"/><?php echo $cargo_preciocompra; ?></td>
    <td class="col-xs-1"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][subtotal]" value="<?php echo $cargo_subtotal; ?>"/><?php echo $cargo_subtotal; ?></td>
    <td class="col-xs-1" align="center">
        <a href="/" onclick="removeRepuesto('<?php echo $nombre_fila; ?>');return false;"><i class="fa fa-fw fa-trash-o" alt="Borrar" title="Borrar"> </i></a>
    </td>
</tr>
