
<tr id="<?php echo $nombre_fila; ?>" class="even" style="height: 25px;padding: 6px 12px;font-size: 14px;">
    <input type="hidden" name="numero_<?php echo $cargo_id; ?>" value="<?php echo $cargo_id; ?>" >
    <input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][dua]" value="<?php echo $cargo_dua; ?>"/>

    <td class="col-xs-1"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][articulo]" value="<?php echo $cargo_articulo; ?>"/><?php echo $cargo_articulo; ?></td>
    <td class="col-xs-3"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][descmodelo]" value="<?php echo $cargo_descmodelo; ?>"/><?php echo $cargo_descmodelo; ?></td>

    <td class="col-xs-2"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][codbarra]" value="<?php echo $cargo_codbarra; ?>"/><?php echo $cargo_codbarra; ?></td>
    <td class="col-xs-2"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][codbarrainterno]" value="<?php echo $cargo_codbarrainterno; ?>"/><?php echo $cargo_codbarrainterno; ?></td>
    <td class="col-xs-1"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][cantidad]" value="<?php echo $cargo_cantidad; ?>"/><?php echo $cargo_cantidad; ?></td>
    <td class="col-xs-1" id="hideANDseek3"><input type="hidden" name="<?php echo $nombre_arreglo; ?>[<?php echo $cargo_id; ?>][preciocompra]" value="<?php echo $cargo_preciocompra; ?>"/><?php echo $cargo_preciocompra; ?></td>
    <td class="col-xs-1" align="center">
        <a href="/" onclick="removeArticulo('<?php echo $nombre_fila; ?>');return false;"><i class="fa fa-fw fa-trash-o" alt="Borrar" title="Borrar"> </i></a>
    </td>
</tr>
