<div style="float: left; width: 100%;">
    <textarea name="txtCopyText" id="txtCopyText"  rows="8" cols="150" style="margin: 4px 15px 5px 0px; height: 151px; width: 501px;" readonly><?php echo $lista_de_mails ?></textarea>
</div>
