<!-- Content Header (Page header) -->
<section class="content-header">
    <h3><?php echo $heading_title; ?></h3>
    <!-- Error -->
    <?php if ($error_texto_error != '') { ?>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        <?php echo $error_texto_error; ?>
    </div>
    <?php } ?> 
    <!-- Error -->
</section>

<!-- Main content -->
<section class="content">
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form" name="form">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Registro</h3>
            </div>
            <div class="box-body">
                <input class="form-control" type="hidden" name="movimiento" value="<?php echo $movimiento; ?>" />
                <div class="form-group">
                    <label><?php echo $entry_fechamovimiento; ?></label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control" type="hidden" name="caja" value="<?php echo $caja; ?>" />
                        <input type="text" class="form-control" value="<?php echo $fechamovimiento; ?>" id="fechamovimiento" name="fechamovimiento" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" placeholder="Campo obligatorio">
                    </div>
                </div>
                <div class="form-group">
                    <label><?php echo $entry_tipomovimiento; ?></label>
                    <select class="chosen-select form-control" tabindex="2" name="tipomovimiento" id="tipomovimiento">
                        <?php if ($tipomovimiento == 'INGRESO'){ ?>
                        <option value="-1" >Seleccione...</option>
                        <option value="EGRESO" >EGRESO</option>
                        <option value="INGRESO" selected>INGRESO</option>
                        <?php } else if($tipomovimiento == 'EGRESO'){ ?>
                        <option value="-1" >Seleccione...</option>
                        <option value="EGRESO" selected>EGRESO</option>
                        <option value="INGRESO" >INGRESO</option>
                        <?php } else{ ?>
                        <option value="-1" selected>Seleccione...</option>
                        <option value="EGRESO" >EGRESO</option>
                        <option value="INGRESO" >INGRESO</option>
                        <?php } ?>
                    </select>
                </div>
                <div class="form-group">
                    <label><?php echo $entry_montomovimiento; ?></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                        <input type="text" class="form-control" name="montomovimiento" id="montomovimiento"  value="<?php echo $montomovimiento; ?>" onkeydown="return numeric(event, 'dec');" placeholder="Campo Obligatorio">
                    </div>
                </div>
                <div class="form-group">
                    <label><?php echo $entry_observacion; ?></label>
                    <textarea class="form-control" rows="3" name="observacion" id="observacion" placeholder="Detalle la observación del movimiento." ><?php echo $observacion; ?></textarea>
                </div>
            </div>
        </div>
        <!-- BOTONES INICIO -->
        <div class="box-footer" style="text-align: -webkit-center;">
            <?php if ($_REQUEST['action'] != 'consulta') { ?>  
            <button type="submit" class="btn btn-primary" onclick="document.getElementById('form').submit();">Guardar</button>
            <?php } ?>   
            <button type="button" class="btn btn-primary" onclick="location = '<?php echo $cancel; ?>'">Cancelar</button>
        </div>
        <!-- BOTONES FIN -->
    </form>
</section>

<script type="text/javascript">
    
    $(function () {
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();
    });

    $(function () {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({allow_single_deselect: true});
    });

    function numeric(e, tipo)
    {
        if (tipo == 'int') {
            return ((e.keyCode == 9) || (e.keyCode == 8) || (e.keyCode > 32 && e.keyCode < 41) || (e.keyCode > 44 && e.keyCode < 58) || (e.keyCode > 94 && e.keyCode < 106));
        } else if (tipo == 'dec') {
            return ((e.keyCode == 9) || (e.keyCode == 8) || (e.keyCode == 110) || (e.keyCode > 32 && e.keyCode < 41) || (e.keyCode > 44 && e.keyCode < 58) || (e.keyCode > 94 && e.keyCode < 106));
        }
    }
    
</script>
