<tr id="<?php echo $nombre_fila; ?>" class="even" style="height: 25px;padding: 6px 12px;font-size: 14px;">
    <input type="hidden" name="numero_<?php echo $cargo_id; ?>" id="numero_<?php echo $cargo_id; ?>" value="<?php echo $cargo_id; ?>" >
    <input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][venta]" id="articulosnc[venta]" value="<?php echo $cargo_venta; ?>"/>
    <input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][notacredito]" id="articulosnc[notacredito]" value="<?php echo $cargo_notacredito; ?>"/>

    <td class="col-xs-1"><input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][articulo]" id="articulosnc[articulo]" value="<?php echo $cargo_articulo; ?>"/><?php echo $cargo_articulo; ?></td>
    <td class="col-xs-3"><input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][descmodelo]" id="articulosnc[descmodelo]" value="<?php echo $cargo_descmodelo; ?>"/><?php echo $cargo_descmodelo; ?></td>

    <td class="col-xs-2"><input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][codbarra]" id="articulosnc[codbarra]" value="<?php echo $cargo_codbarra; ?>"/><?php echo $cargo_codbarra; ?></td>
    <td class="col-xs-2"><input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][codbarrainterno]" id="articulosnc[codbarrainterno]" value="<?php echo $cargo_codbarrainterno; ?>"/><?php echo $cargo_codbarrainterno; ?></td>
    <td class="col-xs-1"><input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][cantidad]" id="articulosnc[cantidad]" value="<?php echo $cargo_cantidad; ?>"/><?php echo $cargo_cantidad; ?></td>
     
   
    <td class="col-xs-1"><input type="hidden" name="articulosnc[<?php echo $cargo_id; ?>][precionc]" id="articulosnc[precionc]" value="<?php echo $cargo_precionc; ?>"/><?php echo $cargo_precionc; ?></td>
    
    <td class="col-xs-1" align="center">
        <a href="/" onclick="removeArticulo('<?php echo $nombre_fila; ?>', '<?php echo $total_fila; ?>');return false;"><i class="fa fa-fw fa-trash-o" alt="Borrar" title="Borrar"> </i></a>
    </td>
</tr>
        