<tr id="<?php echo $nombre_fila; ?>" class="even" style="height: 25px;padding: 6px 12px;font-size: 14px;">
    <input type="hidden" name="numero_<?php echo $cargo_id; ?>" id="numero_<?php echo $cargo_id; ?>" value="<?php echo $cargo_id; ?>" >
    <input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][venta]" id="articulosvta[venta]" value="<?php echo $cargo_venta; ?>"/>

    <td class="col-xs-1"><input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][articulo]" id="articulosvta[articulo]" value="<?php echo $cargo_articulo; ?>"/><?php echo $cargo_articulo; ?></td>
    <td class="col-xs-3"><input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][descmodelo]" id="articulosvta[descmodelo]" value="<?php echo $cargo_descmodelo; ?>"/><?php echo $cargo_descmodelo; ?></td>

    <td class="col-xs-2"><input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][codbarra]" id="articulosvta[codbarra]" value="<?php echo $cargo_codbarra; ?>"/><?php echo $cargo_codbarra; ?></td>
    <td class="col-xs-2"><input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][codbarrainterno]" id="articulosvta[codbarrainterno]" value="<?php echo $cargo_codbarrainterno; ?>"/><?php echo $cargo_codbarrainterno; ?></td>
    <td class="col-xs-1"><input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][cantidad]" id="articulosvta[cantidad]" value="<?php echo $cargo_cantidad; ?>"/><?php echo $cargo_cantidad; ?></td>
    <td class="col-xs-1">
        <input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][porcDescuento]" id="articulosvta[porcDescuento]" value="<?php echo $cargo_porcDescuento; ?>"/><?php echo $cargo_porcDescuento; ?>
    </td>
    <input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][descuento]" id="articulosvta[descuento]" value="<?php echo $cargo_descuento; ?>"/>   
   
    <input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][precioultcompra]" id="articulosvta[precioultcompra]" value="<?php echo $cargo_precioultcompra; ?>"/>
    <input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][precioventa]" id="articulosvta[precioventa]" value="<?php echo $cargo_precioventa; ?>"/>
    <td class="col-xs-1"><input type="hidden" name="articulosvta[<?php echo $cargo_id; ?>][precioventa_descuento]" id="articulosvta[precioventa_descuento]" value="<?php echo $cargo_precioventa_descuento; ?>"/><?php echo $cargo_precioventa_descuento; ?></td>
    
    <td class="col-xs-1" align="center">
        <a href="/" onclick="removeArticulo('<?php echo $nombre_fila; ?>', '<?php echo $total_fila; ?>');return false;"><i class="fa fa-fw fa-trash-o" alt="Borrar" title="Borrar"> </i></a>
    </td>
</tr>
        