<tr id="<?php echo $nombre_fila; ?>" class="even" style="height: 25px;padding: 6px 12px;font-size: 14px;">
    <input type="hidden" name="numero_<?php echo $cargo_id; ?>" id="numero_<?php echo $cargo_id; ?>" value="<?php echo $cargo_id; ?>" >
    <input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][venta]" id="ventaformasdepago[][venta]" value="<?php echo $cargo_venta; ?>"/>

    <input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][ventaformapago]" id="ventaformasdepago[][ventaformapago]" value="<?php echo $cargo_ventaformapago; ?>"/>
    <td class="col-xs-2"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][descformapago]" id="ventaformasdepago[][descformapago]" value="<?php echo $cargo_descformapago; ?>"/><?php echo $cargo_descformapago; ?></td>

    <input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][financiacion]" id="ventaformasdepago[][financiacion]" value="<?php echo $cargo_financiacion; ?>"/>
    <td class="col-xs-2"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][descfinanciacion]" id="<?php echo $nombre_descfinanciacion; ?>[][descfinanciacion]" value="<?php echo $cargo_descfinanciacion; ?>"/><?php echo $cargo_descfinanciacion; ?></td>

    <input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][tarjeta]" id="ventaformasdepago[][tarjeta]" value="<?php echo $cargo_tarjeta; ?>"/>
    <td class="col-xs-1"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][desctarjeta]" id="<?php echo $nombre_desctarjeta; ?>[][desctarjeta]" value="<?php echo $cargo_desctarjeta; ?>"/><?php echo $cargo_desctarjeta; ?></td>

    <input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][banco]" id="ventaformasdepago[][banco]" value="<?php echo $cargo_banco; ?>"/>
    <td class="col-xs-1"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][descbanco]" id="<?php echo $nombre_descbanco; ?>[][descbanco]" value="<?php echo $cargo_descbanco; ?>"/><?php echo $cargo_descbanco; ?></td>
    
    <td class="col-xs-1"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][nrotarjeta]" id="ventaformasdepago[][nrotarjeta]" value="<?php echo $cargo_nrotarjeta; ?>"/><?php echo $cargo_nrotarjeta; ?></td>
                    
    <td class="col-xs-1"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][cuotas]" id="ventaformasdepago[][cuotas]" value="<?php echo $cargo_cuotas; ?>"/><?php echo $cargo_cuotas; ?></td>
    <td class="col-xs-1"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][importe]" id="ventaformasdepago[][importe]" value="<?php echo $cargo_importe; ?>"/><?php echo $cargo_importe; ?></td>
    <td class="col-xs-1"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][recargo]" id="ventaformasdepago[][recargo]" value="<?php echo $cargo_recargo; ?>"/><?php echo $cargo_recargo; ?></td>
    <td class="col-xs-1"><input type="hidden" name="ventaformasdepago[<?php echo $cargo_id; ?>][totalLFP]" id="ventaformasdepago[][totalLFP]" value="<?php echo $cargo_totalLFP; ?>"/><?php echo $cargo_totalLFP; ?></td>
    <td class="col-xs-1" align="center">
        <a href="/" onclick="removeVentaFormaPago('<?php echo $nombre_fila; ?>');return false;"><i class="fa fa-fw fa-trash-o" alt="Borrar" title="Borrar"> </i></a>
    </td>
</tr>
        