
<?php  if ($log == 'ok')
{
?>
<div id="footer_barra_contenedor">
<div id="footer_barra_menu"></div>
    <div id="footer_barra_inferior"></div>

</div>
<?php
}
?>
<div id="footer_pie_pagina">
    <div id="footer_pie_izquierda"><br />UNION DE RUGBY ARGENTINO
      </div>
    <div id="footer_pie_derecha">&copy; 2015 | <?php echo(strftime("%Y"));?><br />Todos los derechos reservados</div>
</div>
