.tab {
	padding: 10px 0px 10px 0px;
	margin: 0px 12px 0px 12px;
        /*height:580px;*/
}

.tab2 {
	padding: 10px 0px 10px 0px;
	margin: 0px 12px 0px 12px;
        height:380px;
}

.tabs {
	padding-left: 2px;
	width:inherit;
}

.tabs a, .tabs a:hover.inactive, .tabs a.active {
	float: left;
	width: 140px;
	padding-top: 4px;
	margin-right: -3px;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	color: #000000;
	text-align: center;
}

.tabs a {
	background: url('tab.png') no-repeat; 
	top: 5px;
	height: 16px;
	width: 140px;
}

.tabs a:hover.inactive {
	background: url('tab_hover.png') no-repeat;
	top: 5px;
	height: 16px;
	width: 140px;
}

.tabs a.active {
	background: url('tab_active.png') no-repeat;
	height: 19px;
	margin-bottom: 2px;
	top: 3px;
	left: -2px;
	z-index: 2;
	width: 140px;
}

.tab .pages {
	clear: both;
	border: 1px solid #919B9C;
}

.tab .page {
	background-color: #FCFCFE;
	padding: 4px 5px 5px 5px;
        overflow: hidden;
}

.tab .pages .page .pad {
	background-color: #F9F9F9;
	border: 1px solid #D5D5D5;
	padding: 5px;
	min-height: 200px;
	/*height: 440px;*/
        overflow: auto;
}

.tab .pages .page .minipad {
	background-color: #F9F9F9;
	border: 1px solid #D5D5D5;
	padding: 5px;
	min-height: 165px;
 	_height: 165px;
}