html {
	overflow: -moz-scrollbars-vertical;
}

body {
	margin: 0;
	padding: 0;
}

body, td, th, input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

img {
	border: none;
}

.texto {
	Font-Family: Georgia;
	Font-size: 16pt;
	color: rgb(0,0,128);
}

.png {
	behavior: url('javascript/png/iepngfix.htc');
}

a:visited {
	color: #000000;
}

#header {
	height: 110px;
	background-color: #58ACFA;
}

#content {
	height: 375px;
	background-color: #FFFFFF;
}
#header h1 {
	font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	color: #A4A4A4;
	margin: 0px;
	_position: absolute;
	_top: 6px;
	_left: 15px; 
}

#header h2 {
	font-size: 20px;
	font-weight: normal;
	color: #A4A4A4;
	margin: 0px;
	_position: absolute;
	_top: 6px;
	_left: 15px; 
}
#header .a {
	color: #FFFFFF;
	margin: 12px 25px 0px 0px;
	float: right;
}

.task {
    height: 61px;
    width: 900px;
    clear: both;
    border-top: 1px solid rgb(154, 198, 241);
    border-bottom: 1px solid rgb(154, 198, 241);
    margin-bottom: 0;
    background: rgb(154, 198, 241);
    margin-left: -27px;
    _padding-left: 0px;
    padding-bottom: 0px;
}

.task div {
	padding: 1px; 
}

.task div img {
	display: block;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.task .enabled, .task .disabled, .hover {
	float: left;
	width: 50px;
	height: 50px;
	margin: 3px 2px;
	text-align: center;
}

.task .enabled {
	cursor: pointer;
	border: 1px solid #D5D5D5;
	color: #333333;
}

.task .disabled {
	border: 1px solid #D5D5D5;
	color: #999999;
}

.task .hover {
	cursor: pointer;
	border: 1px solid #30559C;
	background-color: #EBF1FC;
	color: #333333;
}


.task2 {
	height: 61px;  
	clear: both;
	border-top: 1px solid #FFFFFF; 
	border-bottom: 1px solid #FFFFFF; 
	background: #FFFFFF;  
	padding-left: 2px;
	_padding-left: 0px;	
}

.task2 div {
	padding: 1px; 
}

.task2 div img {
	display: block;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.task2 .enabled, .task .disabled, .hover {
	float: left;
	width: 50px;
	height: 50px;
	margin: 3px 2px;
	text-align: center;
}

.task2 .enabled {
	cursor: pointer;
	border: 1px solid #D5D5D5;
	color: #333333;
}

.task2 .disabled {
	border: 1px solid #D5D5D5;
	color: #999999;
}

.task2 .hover {
	cursor: pointer;
	border: 1px solid #30559C;
	background-color: #EBF1FC;
	color: #333333;
}

#footer {
	text-align: center;
	margin: 0px;
	clear: both;
	padding-bottom: 0px;
}

#footer a, #footer a:visited {
	color: #000000;
}

#login {
	background: #EFEFEF;
}

#login {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-left: 0px;
	position: relative;
	border: 1px solid #D5D5D5;
}

#login td {
	vertical-align: top;
}

#login_form {
	vertical-align: middle;
	width: 100%;
}

form {
	margin: 0px;
}

#login_button {
	background-color: #E0E0E0;
	border: 1px solid #BBBBBB;
	font-weight: bold;
	padding: 3px;
	margin-top: 5px;
}

.button {
	background-color: #E0E0E0;
	border: 1px solid #BBBBBB;
	height: 19px;
}

.home {
	border: 1px solid #D5D5D5;
	text-align: left;
	display: inline;
	margin: 5px;
	padding: 3px;
	background-color: #FFFFFF;
}

#time {
	color: #CCCCCC;
	text-align: center;
}

.heading {
    color: #f48120;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    margin-left: 5px;
    font-family:	verdana, arial, sans-serif;
}

.description {
    color: #f48120;
    margin: 0px 0px 5px 5px;
    font-family:	verdana, arial, sans-serif;
}

#list {
	padding: 10px;
	width: 99%;
}

#list .a {
	margin-bottom: 5px;
	border-collapse: collapse;
	width: 99%;
}

#list .c {
	text-align: left;	
}

#list .d {
	text-align: center;
}

#list .e {
	text-align: right;
}

.list {
	border-collapse: collapse;
	width: 99%;
}

.list th {	
	height: 28px;
	padding: 0px 4px;
	border-bottom: 3px solid #30559C;
	cursor: pointer;
}

.list td {
	height: 32px;
	_padding: 0px 4px;
	vertical-align: middle;	
	_overflow: auto;
}

.list a {
	color: #000000;
	text-decoration: underline;
}

.list img {
	border: 0px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.row1 td, .row2 td, .highlight td, .previous td  {
	border-bottom: 1px solid #EEEEEE;
}

.highlight {
	background-color: #EBF1FC;
}

.row1 {
	background-color: #FFFFFF;
}
 
.row2 {
	background-color: #F9F9F9;	
}

.previous {
	cursor: pointer;
	background-color: #EBF1FC;	
}

.rating {
	color: #FF0000;
	text-transform: uppercase;
	font-size: 10px;
}
 
.box {
	border: 1px solid #A7A6AA;
	background: #FFFFFF;
	overflow: auto;
	height: 148px;
	display: block;
}
 
.box table {
	width: 100%;
}

.box table tr td {
	border-bottom: 1px solid #EEEEEE;
	cursor: pointer;
}

.error {
	color: #FF0000;
	font-size: 10px;
	display: block;
	clear: both;
}

.required {
	margin: 0;
	color: #FF0000;
	display: inline;
}

.warning {
	color: #000000;
	text-align: center;
	font-size: 10px;  
	background-color: #FFB3B5;
	padding: 3px;
	display: block;
	margin-bottom: 10px;
}

.message {
	color: #000000;
	text-align: center;
	font-size: 10px;
	background-color: #3366CC;
	padding: 3px;
	display: block;
	margin-bottom: 10px;
}

.price_old {
	text-decoration: line-through;
}

.price_new {
	color: #FF0000;
}

#phpinfo .a, #phpinfo .b {
	margin: 20px;
	border: 1px solid #EEEEEE;
	padding: 10px;
}

#home .a {
	float: left;
	width: 100%;
	margin-left: 1px;
}

#home .a table {
	width: 100%;
	border-collapse: collapse;  
}

#home .a table td {
	text-align: left;
	cursor: pointer;
	padding: 10px;
}

#home .a table img {
	margin-bottom: 3px;
}

#home .b {
	float: left;
	width: 100%; 
	margin-left: 1px; 
}

#home .b table {
	width: 100%;
	border-collapse: collapse;
}

#home .b table th {
	border-bottom: 3px solid #30559C;
	padding: 4px;
}

#home .b table td {
	padding: 4px;
	cursor: pointer;
}

#home legend {
	border: 1px solid #EEEEEE;
	padding: 5px;
}

#home fieldset {
	border: 1px solid #EEEEEE;
	padding: 10px;
}

#home > .b  > fieldset {
	margin-bottom: 10px;
}

#image img {
	border: 1px solid #CCCCCC;
}

#mail {
	margin: 20px 0px 0px 40px;
}
.accordion {
	width: 100%;
    border-bottom: solid 1px #c4c4c4;
}
.accordion h3 {
	background: #e9e7e7 url(../image/desc.png) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 90%/70% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion h3:hover {
	background-color: #e3e2e2;
    }
.accordion h3.active {
	background-position: right 5px;
}
.accordion p {
    background: #e9e7e7;
	_background: #e9e7e7;
	margin: 0;
	height: 200px;
    padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
}