#footer {
    text-align: center;
    margin: 0px;
    clear: both;
    padding-bottom: 0px;
}

#footer a, #footer a:visited {
    color: #000000;
}

#footer_pie_pagina {
	padding-top: 10px;
        padding-bottom: 5px;
        background-image: url(../image/footer_fondo.gif);
        background-repeat: repeat-x;
        background-position: center top;
        background-color: #363636;
	color: #fff;
	height: 40px;
	width: 100%;

}

#footer_pie_izquierda {
	width:48%;
	float:left;
	text-align:left;
	padding-left:15px;
}
#footer_pie_derecha {
	width:48%;
	float:right;
	text-align:right;
	padding-right:15px;
}

#footer_barra_contenedor{
    background-color: #fff;
    width: 846px;
    margin: 0 auto 0 auto;
    padding: 0px 27px 27px 27px;
}

#footer_barra_inferior{
    background-image: url(../image/barra_superior.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 846px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin: 0 auto 0 auto;
    clear: both;
    height: 30px;
}

#footer_barra_menu{
  border-top: 1px solid #D5D5D5;
  background: #F1F3F5;
  font-weight: bold;
  height: 20px;
}