#header_contenedor {
    width: 846px;
    padding: 0px 27px 0px 27px;
    background-color: #fff;
    margin: 0 auto 0 auto;
}

#header_fecha_hora{
	float: right;
        text-align: right;
	color: #878787;
        margin-top: 10px;
        margin-right: 5px;
}

#header_fecha_hora a{
	text-decoration:none;
	color: #878787;
}

#header_fecha_hora a:hover{
	text-decoration:underline;
}

#header_barra_titulo {
        height: 120px;
        background-color: #fff;
        margin: 0 auto 0 auto;
	clear:both;
}
#header_barra_titulo div {
    clear: both;
}

#header_barra_titulo .right {
    float: right;
    margin-top: 10px;
}

#header_barra_titulo .left {
    float: left;
    margin-top: 10px;
}

#header_barra_titulo .center {
    float: left;    
    margin-top: 30px;
    margin-left: 103px;
}
/*barrita de colores arriba del menu*/
#header_barra_superior{
    background-image: url('../image/barra_superior.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 846px;
    height: 32px;
    margin: 0 auto 0 auto;
}