#list {
    padding: 20px;
    margin: 10px;
    padding-bottom: 20px;
    min-height: 300px;
    background: url(http://www.uar.com.ar/img/bg_caja.png);
}
#list table tr{
    width: auto;
}

#list table td{
    margin: 5px;
    padding: 5px 2px 15px 2px;
}

#list table td input {
    line-height: normal;
    background-color: transparent;
    border: 1px solid white;
    width: 210px;
}
#list table td input#hasta, #list table td input#desde {
    width: 90px;
}

#list table td input[type="submit"] {
    width: auto;
}
#list table td select {
    background-color: transparent;
}
#list table td select option {
    color: black;
}
#list .a {
    margin-bottom: 5px;
    width: 100%;
    margin-top: 20px;
}

#list .png {
    vertical-align: middle;
    padding-left: 2px;
    cursor: pointer;
}

#list .c {
    text-align: left;
}
#list .d {
    text-align: right;
}
#list .e {
    text-align: right;
    width: 100px;
    position: relative;
    right: -48px;
}
.list {
    border-collapse: collapse;
    width: 100%;
}
.list th {
    height: 28px;
    padding: 0px 4px;
    cursor: pointer;
    border-bottom: 2px solid #C08C14;
    text-align: center;
    color: white;
}
.list td {
    height: 32px;
    vertical-align: middle;
    overflow: auto;
    padding: 0px 4px 0px 3px !important;
}
.list a {
    margin-bottom: 5px;
    width: 100%;
    margin-top: 15px;
}

.list img {
    border: 0px;
}

.list_acciones{
    width: 102px;
    text-align: center;
}

.list_acciones_insc{
    width: 110px;
    text-align: center;
}

.list_acciones_insc .png{
    width: 16px;
    height: 16px;
}

.list_acciones_act{
    width: 170px;
    text-align: center;
}

.list_acciones_act .png{
    width: 16px;
    height: 16px;
}

.list_acciones .png{
    width: 16px;
    height: 16px;
}

.row1 td, .row2 td, .highlight td, .previous td {
    border-bottom: 1px solid #C08C14;
    font-size: 14px;
    text-align: center;
    color: white;
}

.row1 {
    background-color: transparent;
}
.row2 {
    background-color: transparent; 
}

/*.row2:hover, .row1:hover{
    background-color: #EEEEEE;
}*/


.sin_filas{
    padding: 50px 0px 50px 0px;
}