.multiselect {
    border:solid 1px #c0c0c0;
    padding: 1px;
    overflow: auto;
    height: 65px;
}
 
.multiselect label {
    display:block;
    margin: 0px;
    padding: 0px;    
    vertical-align: baseline;
}

.multiselect input {
    width: auto;
    height: auto;
    margin: 0px 4px 0px 2px;
    vertical-align: baseline;
}
 
.multiselect-on {
    background-color: #ddd;
}