.tab {
	padding: 10px 0px 10px 0px;
	margin: 0px 12px 0px 12px;
        height: 400px;
}

.tabs {
	padding-left: 2px;
	width:inherit;
}

.tabs a, .tabs a:hover.inactive, .tabs a.active {
	float: left;
	width: 140px;
	padding-top: 4px;
	margin-right: -3px;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	color: #000000;
	text-align: center;
    margin-right: 5px;
}

.tabs a {
	background: url('../image/tab/tab.png') no-repeat; 
	top: 5px;
	height: 16px;
	width: 140px;
    margin-right: 5px;
}

.tabs a:hover.inactive {
	/*background: url('../image/tab/tab_hover.png') no-repeat;*/
	color: red;
}

.tabs a.active {
	height: 35px;
    margin-bottom: 2px;
    top: 3px;
    left: -1px;
    z-index: 2;
    width: 140px;
    background-color: white;
    line-height: 30px;
    color: red;
    font-weight: bolder;
    background: url('../image/tab/tab_active.png') no-repeat;
}
.tabs a {
	height: 35px;
    margin-bottom: 2px;
    top: 3px;
    left: -2px;
    z-index: 2;
    width: 140px;
    background-color: #7e7e7e;
    line-height: 30px;
    border-radius: 4px;
}

.tab .pages {
	clear: both;
	border: 1px solid #919B9C;
}

.tab .page {
	background-color: #FCFCFE;
	padding: 4px 5px 5px 5px;
        overflow: hidden;
}

.tab .pages .page .pad {
	background-color: #F9F9F9;
	border: 1px solid #D5D5D5;
	padding: 5px;
	min-height: 200px;
	height: 410px;
    overflow: auto;
}

.tab .pages .page .minipad {
	background-color: #F9F9F9;
	border: 1px solid #D5D5D5;
	padding: 5px;
	min-height: 165px;
 	_height: 165px;
}

/*Jugadores*/
 .tab .pages .page{
  background-color: white;
    padding: 10px;
    border: 1px solid #cdcbcc;
}

 .tab .pages .page table tr {
    width: 100%;
    position: relative;
    float: left;
    min-height: 30px;
    line-height: 30px;
    font-weight: bold;
}
.tab .pages .page table td {
    width: 205px;
    max-width: 205px;
    min-width: 205px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 3px;
}
.tab .pages .page table td input, .tab .pages .page table td select {
    margin-left: 0px;
    background: #cdcbcc;
    font-size: 17px;
    display: block;
    border: none;
    box-shadow: none;
    height: 40px;
    line-height: 32px;
    padding: 0;
    text-indent: 5px;
    position: relative;
    margin: 5px;
    width: 330px;
    float: left;
}
.tab .pages .page img {
    width: 8%;
    padding-top: 5px;
}
.tab .pages .page table td .enabled {
  position: relative;
  float: left;
  width: 32px;
}
.tab .pages .page table td .enabled img{
  width: 100%;
}

.grupos_contenedor {
	text-align: left;
}

.tab .pages .page table td label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    height: 50px;
    line-height: 49px;
}

input[type="radio"], input[type="checkbox"] {
	width: 23px !important;
}

.tab .pages .page table.personas tr {
	width: 50%
}

.tab .pages .page table.personas td input, .tab .pages .page table.personas td select {
	width: 300px;
}