#gradient-style
{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#gradient-style th
{
    font-size:13px;
    font-weight: bold;
    background:#E5E5E5;
    border-bottom: 2px outset #e50000;
    color:#616161;
    padding:8px;    
}

#gradient-style tfoot th
{
    border-top: 2px outset #e50000;
    border-bottom: none;
}

#gradient-style td
{
    border-bottom:1px solid #fff;
    color:#669;
    border-top:1px solid #fff;
    background:#fff;
    padding: 7px;
}

#gradient-style tbody tr:hover td
{
    color:#339;
}

.gradient-style
{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.gradient-style th
{
    font-size:13px;
    font-weight: bold;
    background:#E5E5E5;
    border-bottom: 2px outset #e50000;
    color:#616161;
    padding:8px;
}

.gradient-style tfoot th
{
    border-top: 2px outset #e50000;
    border-bottom: none;
    text-align: rigth;
}

.gradient-style theader th
{    
    text-align: left;
}

.gradient-style td
{
    border-bottom:1px solid #fff;
    color:#669;
    border-top:1px solid #fff;
    background:#fff;
    padding: 7px;
}

.tablefilter td
{
         border-right: none !important; 
}

.tdfilter
{
    border-right: none !important; 
}